@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  line-height: 1.3;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.dark {
  color-scheme: dark;
}
.prose p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  white-space: pre-wrap; /* Esto conserva los saltos de línea manuales */
}

.prose h2, .prose h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}